.block-nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block-nav input {
   cursor: pointer;
}
.block-nav .img {
  background-image: url(./assets/HS-removebg-preview.png);
  width: 200px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}

